* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: #d6e9f2;
}

.hidden {
  display: none !important;
}

.container {
  position: relative;
  z-index: 1;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding: 55px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
  width: 320px;
}

.header img {
  width: 300px;
  height: 300px;
  border-radius: 150px;
  animation: toUp 0.3s forwards;
  aspect-ratio: 1/1;
  object-fit: cover;
  /* background-color: #d6e9f2; */
  padding: 4px;
  border: 8px solid #580e13;
}

.header p {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #580e13;
  font-weight: 500;
  animation: toUp 0.5s forwards;
}

.botoes {
  width: 290px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.botoes a {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #580e13;
  border-radius: 30px;
  text-decoration: none;
  color: #d6e9f2;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  transition: all 0.3s;
}

.botoes a:hover {
  background-color: #580e13e5;
}

.botoes a:nth-child(1) {
  animation: toUp 0.7s forwards;
}

.botoes a:nth-child(2) {
  animation: toUp 0.9s forwards;
}

@keyframes toUp {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
