* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: #d6e9f2;
}

.toast {
  margin: 20px;
  position: absolute;
  min-width: 320px;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  z-index: 10;
  background-color: #580e1370;
  padding: 20px 20px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  color: #f3efef;
  backdrop-filter: blur(20px);
  border: 1px solid #f3efef70;
  transform: scale(0);
  animation: scale 0.3s forwards;

  .title-toast {
    font-size: 30px;
    line-height: normal;
  }
}

.bar {
  position: relative;
  width: 100px;
  height: 16px;
  border-radius: 4px;
  border: 2px solid #fff;
}

.bar-dentro {
  position: absolute;
  display: flex;
  align-items: start;
  justify-content: center;
  width: 0%;
  background-color: #fff;
  height: 12px;
  border-radius: 2px;
  animation: carregamento 11s forwards;
}

@keyframes scale {
  to {
    transform: scale(1);
  }
}

@keyframes carregamento {
  to {
    width: 100%;
  }
}

.hidden {
  display: none !important;
}

.container {
  position: relative;
  z-index: 1;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 55px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
  width: 320px;
}

.header img {
  width: 300px;
  height: 300px;
  border-radius: 150px;
  animation: toUp 0.3s forwards;
  aspect-ratio: 1/1;
  object-fit: cover;
  /* background-color: #d6e9f2; */
  padding: 4px;
  border: 8px solid #580e13;
}

.header p {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #580e13;
  font-weight: 500;
  animation: toUp 0.5s forwards;
}

.botoes {
  width: 290px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.botoes a {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #580e13;
  border-radius: 30px;
  text-decoration: none;
  color: #d6e9f2;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  transition: all 0.3s;
  cursor: pointer;
}

.botoes a:hover {
  background-color: #580e13e5;
}

.botoes a:nth-child(1) {
  animation: toUp 0.7s forwards;
}

.botoes a:nth-child(2) {
  animation: toUp 0.9s forwards;
}

@keyframes toUp {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
